.dark-primary-color    { background: #512DA8; }
.default-primary-color { background: #673AB7; }
.light-primary-color   { background: #D1C4E9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #00BCD4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

/*.test {
  height: 200px;
  margin: 50px 50px;
}*/
.main-header {
  margin: auto;
  width: 90%;
  /*border: 3px solid green;*/
}

.main-app-title {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.searchBox {
  width:60%;
  margin: 10px auto;
}

.searchButton {
  width:25%;
  margin: 10px auto;
}

.bottom-spacer {

}

.top-content-row {
  margin-top: 2%;
}
.content-row {
  margin-bottom: 2%;
}

input {
  display: inline;
}

form input:focus{
  border-width: 2px;
  border-color: #66b1ee;
}
