.dark-primary-color    { background: #512DA8; }
.default-primary-color { background: #673AB7; }
.light-primary-color   { background: #D1C4E9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #00BCD4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

.main-header {
  font: 400 100px/1.0 "Playball", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Smartphones and tablets (portrait and landscape) ----------- */
@media only screen and (max-width : 480px) {
  .main-header {
    font: 400 3em/1.0 "Playball", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 481px) {
  .main-header {
    font: 400 7em/1.0 "Playball", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.main-app-title {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.searchBox {
  width:60%;
  margin: 10px auto;
}

.searchButton {
  width:25%;
  margin: 10px auto;
}

.randomArticleButton{
  margin-top: 10px;
  margin-bottom: 10px;
}

form input:hover {
  border-width: 2px;
  border-color: #66b1ee;
}

form input:focus{
  border-width: 2px;
  border-color: #66b1ee;
}
